@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	body {
		--tw-text-opacity: 1;
		color: rgb(255 255 255 / var(--tw-text-opacity));
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	.btn-fill {
		--tw-bg-opacity: 1;
		background-color: rgb(190 24 93 / var(--tw-bg-opacity));
		outline: 2px solid transparent;
		outline-offset: 2px;
		user-select: none;
		transition-property: all;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 150ms;
	}
	.btn-fill:hover {
		--tw-bg-opacity: 1;
		background-color: rgb(219 39 119 / var(--tw-bg-opacity));
	}

	.btn-fill:focus {
		outline-color: #be185d;
	}

	.btn-fill:active {
		--tw-bg-opacity: 1;
		background-color: rgb(157 23 77 / var(--tw-bg-opacity));
	}
	::-ms-reveal {
		filter: invert(100%);
	}
	:root {
		--date-picker-background: #1c1917;
		--date-picker-foreground: #be185d;
		--date-picker-highlight-border: #be185d;
		--date-picker-highlight-shadow: #292524;
		--date-picker-selected-color: #f7f7f7;
		--date-picker-selected-background: #292524;
		
	  }
}
